/588px-FIFA_WorldCup_logo.svg.png
/bandeira-do-brasil-1024x717.png
/e292f8cec7eae5f8f4f25bcc36cfe5f5-logo-da-sele-o-brasileira-de-futebol.png
/kisspng-2018-fifa-world-cup-football-team-international-fo-fifa-5ab88882d95521.6441136315220430108902.jpg
/pexels-dom-le-roy-3991976.jpg
/pexels-pixabay-274506.jpg
/pexels-pixmike-413195.jpg
/pexels-sergio-souza-2291006.jpg
/png-transparent-2014-fifa-world-cup-2018-fifa-world-cup-fifa-16-sport-fifa-globe-text-logo.png
/png-transparent-cbf-logo-brazil-national-football-team-2018-fifa-world-cup-copa-do-brasil-coat-of-arms-of-brazil-brasil-copa-logo-fifa-world-cup-brazil.png
/WorldCupPlayers.csv